<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SonicCleanse: Advanced Noise Suppression System</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="container">
    <header>
        <h1>SonicCleanse</h1>
    </header>
    <nav class="navbar">
        <button id="logoutButton" class="nav-button">Logout</button>
        <a href="{{ url_for('about') }}" class="nav-link">About</a>
    </nav>
    <main>
        <p class="site-description animate-fade-in">
            SonicCleanse offers advanced audio processing to reduce noise
        </p>
        <div class="upload-section" id="uploadSection">
            <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                <div id="dropArea" class="drop-area">
                    <p class="drop-text">Drag and drop audio files here</p>
                    <input type="file" name="audio_file" id="audioUpload" accept="audio/*" class="custom-file-input">
                </div>
                <button type="submit" id="processButton">Process Audio</button>
            </form>
        </div>
        {% if original_audio %}
            <div class="audio-player">
                <h3>Original Audio: {{ original_audio }}</h3>
                <audio controls>
                    <source src="{{ url_for('play_audio', filename=original_audio) }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <p><a href="{{ url_for('download_file', filename=original_audio) }}">Download Original</a></p>
            </div>
        {% endif %}
        {% if processed_audio %}
            <div class="audio-player">
                <h3>Processed Audio: {{ processed_audio }}</h3>
                <audio controls>
                    <source src="{{ url_for('play_audio', filename=processed_audio) }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <p><a href="{{ url_for('download_file', filename='filtered_audio.mp3') }}">Download Processed</a></p>
            </div>
        {% endif %}
        <div class="developer-card">
            <h2 class="developer-title">Developer</h2>
            <div class="developer-content">
                <h3>Aman</h3>
                <p><a href="mailto:amansoudagar202@gmail.com">amansoudagar202@gmail.com</a></p>
                <a href="{{ url_for('contact') }}"><button class="contact-button">Contact</button></a>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Noise Suppression System</p>
    </footer>
</div>
<script src="../static/scripts.js"></script>
</body>
</html>
